{% load static %}
<div class="nav">
    <input type="checkbox" id="nav-check" />
    <div class="nav-header">
        <div class="nav-title">
            <a href="/">
                <img
                    id="navbar-brand"
                    src="{% static 'images/logo.png' %}"
                    alt="VChat"
                />
            </a>
        </div>
    </div>
    <div class="nav-btn">
        <label for="nav-check">
            <i class="fas fa-bars nav-bars"></i>
        </label>
    </div>

    <div class="nav-links">
        <a href="https://github.com/yankkv75/video-chat-django" target="_blank">GitHub</a>
        <a href="https://www.linkedin.com/in/yankkv75/" target="_blank"
            >LinkedIn</a
        >
    </div>
</div>
